body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.header-bg {
    background-color: #27421b; 
}

.hero-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}

.scroll-button {
    background-color: #3e642f;
}

.scroll-button:hover {
    background-color: #27421b;
}

